# Environment files
.env
.env.local
.env.prod

# Python
__pycache__/
*.pyc
*.pyo

# Virtualenvs
venv/
venvs*/
\.venv
.venv310

# Django
media/
staticfiles/


# IDEs
.idea/
.vscode/


*.log
*.bak
*.crt
*.pem
*.key
*.zip
*.tar
*.gz
# Kiro IDE
.kiro/
