# Environment files
.env
.env.local
.env.prod
.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtualenvs
venv/
venvs*/
\.venv
.venv310

# Django
media/
staticfiles/
*.db
db.sqlite3

# IDEs
.idea/
.vscode/

# Logs & Backups
*.log
*.bak
*.crt
*.pem
*.key
*.zip
*.tar
*.gz

# Kiro IDE
.kiro/
logs
*.bak.*

# Cache & Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

