{% load static %}
<!DOCTYPE html>
<html lang="uz" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do'kon - OnlinePharmacy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'components/header.html' %}

    <main>
        <h1>Medisinalar Ro'yxati</h1>
        <p>Bu sahifa hali to'liq ishlanmagan.</p>
    </main>

    {% include 'components/footer.html' %}
</body>
</html>
