{% load static %}
{% load i18n %}

<!-- NOTE: Account dropdown for logged-in users -->
<div id="account-dropdown-container" style="display: none;">
    <button id="account-dropdown-button" class="dropdown-toggle">
        <img id="header-user-avatar" src="{% static 'images/default_avatar.png' %}" alt="User Avatar" class="avatar">
        <span id="header-username-display">User</span>
    </button>
    <ul id="account-dropdown-menu" class="dropdown-menu">
        {% if user.role == 'admin' %}
            <li><a id="account-link" href="/dashboard/account/"><i class="fas fa-user-cog"></i> {% trans "Account" %}</a></li>
        {% elif user.role == 'seller' %}
            <li><a id="account-link" href="/dashboard/seller/account/"><i class="fas fa-user-cog"></i> {% trans "Account" %}</a></li>
        {% else %}
            <li><a id="account-link" href="/account/"><i class="fas fa-user-circle"></i> {% trans "Account" %}</a></li>
        {% endif %}
        <li><a href="#" id="logout-button"><i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}</a></li>
    </ul>
</div>
{# NOTE: Removed delivery-related buttons and links. #}
