{% load static %}
{% load i18n %}

<!-- NOTE: Account dropdown for logged-in users -->
<div id="account-dropdown-container" style="display: none;">
    <button id="account-dropdown-button" class="dropdown-toggle">
        <img id="header-user-avatar" src="{% static 'images/default_avatar.png' %}" alt="User Avatar" class="avatar">
        <span id="header-username-display">User</span>
    </button>
    <ul id="account-dropdown-menu" class="dropdown-menu">
        <li><a id="account-link" href="/account/"><i class="fas fa-user-circle"></i> {% trans "Account" %}</a></li>
        <li><a href="/user/orders"><i class="fas fa-box"></i> {% trans "My Orders" %}</a></li>
        <li><a href="#" id="logout-button"><i class="fas fa-sign-out-alt"></i> {% trans "Logout" %}</a></li>
    </ul>
</div>
{# NOTE: Removed delivery-related buttons and links. #}
